.qb-index-item-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 175px;
    max-height: 600px;
    background-color: rgba(23, 24, 26, 0.65);
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    margin-right: 20px;

    .qb-item {
        list-style-type: none;
        color: whitesmoke;
        font-family: Montserrat, sans-serif;
        padding: 15px;
        border-radius: 1rem;
        max-height: fit-content;

        &:hover {
            cursor: pointer;
        }

        .player-image {
            max-height: 100px;
            width: 100%;
        }
    }

    .qb-selected {
        list-style-type: none;
        color: whitesmoke;
        font-family: Montserrat, sans-serif;
        padding: 15px;
        border-radius: 1rem;
        &:hover {
            cursor: pointer;
        }

        border: 1px solid blue;

        .player-image {
            max-height: 100px;
            width: 100%;
        }
    }
}
